<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.eaglesakura.android.framework">

    <application>
        <!-- ライセンス表示 -->
        <activity
                android:theme="@style/EsMaterial.Theme.License"
                android:name="com.eaglesakura.android.framework.ui.license.LicenseViewActivity"/>
        <activity
                android:theme="@style/EsMaterial.Theme.License"
                android:name="com.eaglesakura.android.framework.ui.license.LicenseDetailActivity"/>
    </application>
</manifest>
